@import './moviesList.css';
@import './movie.css';
@import './buttonBack.css';
@import './movieDetail.css';


.App {
  text-align: center;
}

.title{
  margin: 0;
  padding-top: 5px;
}

.navbar{
  padding: 0 15px;
}
@media all and (min-width: 768px){
  .navbar{
    padding: 0 30px;
  }
  
}
@media all and (min-width: 1024px){
  .navbar{
    padding: 0 40px;
  }
}

.SearchForm-wrapper{
  display: flex;
  justify-content: center;
  padding: 20px 0 5px 0;
}

